<mat-card class="node-card mat-elevation-z4">
  <mat-card-title [ngClass]="{undescripted: !node.description}">
    <app-editable-text
        [text]="node.name"></app-editable-text>
  </mat-card-title>
  <mat-card-subtitle>
    <app-editable-text
        [text]="node.description"></app-editable-text>
  </mat-card-subtitle>
  <mat-card-content>
    <div class="grid-container">
      <div class="unit-card-container" *ngFor="let unit of node.units" [ngClass]="{'plottable': unit.type=='SENSOR',
                                                                                  'no-plottable': unit.type!='SENSOR'}">
        <app-unit-item
            class="mat-elevation-z16"
            [item]=unit></app-unit-item>
      </div>
    </div>
  </mat-card-content>

</mat-card>
