
.node-card {
  border-radius: 27px 27px 27px 27px;
}

.unit-card-container {
  padding: 3px;
}

mat-card-title {
  overflow-wrap: anywhere;
  font-size: 1.5rem;
}

.settings-icon {
  right: 0;
  top: -10px;
  color: #1f1f1f;
  cursor: pointer;
  font-size: 23px;
  text-align: center;
  background: #ffffff;
  position: absolute;
}

.grid-container{
  display: flex;
  flex-wrap: wrap;
  grid-template: auto / auto auto;
}

@media screen and (max-width: 600px) {
  .plottable {
    flex: 1 0 100%;
  }

  .no-plottable {
    flex: 1 0 calc(45% - 10px);
  }
}

@media screen and (min-width: 600px) {
  .plottable {
    flex: 1 0 calc(45% - 1px);
  }

  .no-plottable {
    flex: 1 0 calc(31% - 1px);
  }
}
