<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    role="navigation"
    mode="over"
    (keydown.escape)="sidenav.close()"
    (closedStart)="closedStart()"
    >
    <mat-nav-list>
      <ng-container>
        <h2 matSubheader>Nodos y dispositivos</h2>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/" style="height: 0;"></a>
        <a mat-list-item routerLink="." (click)="sidenav.close()">
          <mat-icon matListIcon class="nav-list-icon">
            border_all
          </mat-icon>
          Nodos y unidades
        </a>
        <a mat-list-item routerLink="." (click)="sidenav.close()">
          <mat-icon matListIcon class="nav-list-icon">
            flare
          </mat-icon>
          Luces
        </a>
        <a mat-list-item routerLink="." (click)="sidenav.close()">
          Sensores
        </a>
        <h2 matSubheader>Configuración</h2>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/" style="height: 0;"></a>
        <a mat-list-item routerLink="." (click)="sidenav.close()">
          <mat-icon matListIcon class="nav-list-icon">
            library_books
          </mat-icon>
          Tareas programadas
        </a>
        <a mat-list-item routerLink="." (click)="sidenav.close()">
          <mat-icon matListIcon class="nav-list-icon">
            settings
          </mat-icon>
          Configuración de unidades
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content role="main">
    <app-toolbarb></app-toolbarb>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
