<nav class="navbar navbar-dark bg-dark mb-5">
  <div class="container">
    <a class="navbar-brand" href="/">Home Connected</a>
    <div class="navbar-expand mr-auto">
      <ul class="navbar-nav">
        <li>
          <a class="nav-item nav-link" [routerLink]="['/']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>

        <li>
          <a class="nav-item nav-link" [routerLink]="['/about']" [routerLinkActive]="'active'">About</a>
        </li>

        <li>
          <a class="nav-item nav-link" [routerLink]="['/contact']" [routerLinkActive]="'active'">Contact Us</a>
        </li>

        <li>
          <a class="nav-item nav-link" [routerLink]="['/login']" [routerLinkActive]="'active'">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
