.roof {
  border-bottom: solid 30px rgb(100, 69, 33);
  border-left: solid 80px transparent;
  border-right: solid 80px transparent;
}

.container {
  padding: 20px;
  border-style: groove;
  border-radius: 27px 27px 27px 27px;
  background-color: white;
}

.disposal-selector {
  width: 100%;
}

.main-cards-container {
  display: flex;
  flex-wrap: wrap;
  grid-column-gap: 20px;
}

app-main-card {
  padding: 10px;
  flex: 1 1 100%;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-item:last-child {
  border: none;
}

.drag-list.cdk-drop-list-dragging .drag-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
