<div [formGroup]="parts">

  <div class="my-input" [ngClass]="{'state-my-input--active': hourFocused || parts.value.hours}">
    <div class="my-input__wrapper">
      <label class="my-input__label">h</label>
      <input
        type="number" class="my-input__input"
        (blur)="hourFocused = false"
        (focus)="hourFocused = true"
        formControlName="hours" size=2>
    </div>
  </div>

  <span>&#44;</span>

  <div class="my-input minutes" [ngClass]="{'state-my-input--active': minutesFocused || parts.value.minutes}">
    <div class="my-input__wrapper">
      <label class="my-input__label minutes">m</label>
      <input
        type="text" class="my-input__input"
        (blur)="minutesFocused = false"
        (focus)="minutesFocused = true"
        formControlName="minutes" size=2>
    </div>
  </div>

  <span>&#44;</span>

  <div class="my-input" [ngClass]="{'state-my-input--active': secondsFocused || parts.value.seconds}">
    <div class="my-input__wrapper">
      <label class="my-input__label seconds">s</label>
      <input
        type="text" class="my-input__input"
        (blur)="secondsFocused = false"
        (focus)="secondsFocused = true"
        formControlName="seconds" size=2>
    </div>
  </div>

  <span>&#44;</span>

  <div class="my-input" [ngClass]="{'state-my-input--active': millisecondsFocused || parts.value.milliseconds}">
    <div class="my-input__wrapper">
      <label class="my-input__label milliseconds">ms</label>
      <input
        type="text" class="my-input__input milliseconds"
        (blur)="millisecondsFocused = false"
        (focus)="millisecondsFocused = true"
        formControlName="milliseconds" size=2>
    </div>
  </div>
</div>
