<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
  {{ count() }}
  <div *ngFor="let device of getTemperatureDevices()"fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)">
    <mat-card>
      <mat-card-header>
      {{device.name}}
      </mat-card-header>
      <mat-card-subtitle>
        {{device.description}}
      </mat-card-subtitle>
      <mat-card-content>
        <div *ngFor="let unit of device.units "fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)">
          {{unit.name}}
          {{unit.description}}
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
