.card-container {
  -webkit-perspective: 500px;
  perspective: 500px;
}

.flippable {
  position: relative;
  width: '120px';
  transform-style: preserve-3d;
  transition: transform 1s;
}

.unit-card {
  backface-visibility: hidden;
  box-shadow: 7px 7px 5px 0px rgb(164, 164, 164);
  border-radius: 22px 22px 22px 22px;
  height: 52px;
  min-width: 80px;
}

.unit-card.front {
  transform: rotateY(0deg);
}

.unit-card.back {
  position: absolute;
  width: 180px;
  height: 130px;
  top: -80%;
  background: #f0f0f0;
  transform: rotateY( 180deg );
}

.unit-icon {
  text-align:center;
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

.pop-up-slider {
  display: block;
  position: absolute;
  float: right;
  left: 40px;
  min-width: 0;
  width: 50px;
  top: 0;
}

.unit-name {
  position: absolute;
}

.flip-button {
    height: 30px;
    border-radius: 15px 15px 15px 15px;
    width: 30px;
    right: 0;
    top: 0;
    cursor: pointer;
    font-size: large;
    text-align: center;
    background: #ffffff;
    position: absolute;
    border-width: 2px;
}

.flip-icon {
    padding: 5px 0;
}

.edit-button {
  height: 30px;
  border-radius: 15px 15px 15px 15px;
  width: 30px;
  left: 0;
  top: 0;
  cursor: pointer;
  font-size: large;
  text-align: center;
  background: #ffffff;
  position: absolute;
  border-width: 2px;
}

.edit-icon {
  padding: 5px 0;
}

::ng-deep.mat-menu-panel {
  min-width: 0 !important;
  padding: 5px 8px !important;
}
