
.undescripted {
  min-height: 48px;
  margin-bottom: 8px;
}

.disposal-selector {
  width: 100%;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  grid-column-gap: 20px;
}

.node-card-container {
  padding: 10px;
  flex: 1 auto;
}

@media screen and (max-width: 600px) {
  .grid-container {
    grid-template: 1fr / 1fr;
  }
}
