<div *ngIf="getNodes().length!=0">

  <mat-form-field class="disposal-selector">
    <mat-label>Mostrar</mat-label>
    <mat-select [(value)]="cardsDisposalControl" (selectedValueChange)="selectionChanged()" placeholder="Mostrar">
      <mat-option value="localizacion">Por localización</mat-option>
      <mat-option value="nodos">Por nodos</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="grid-container" >
    <app-node-item [node]="node" [@listStagger]='getNodes().length' class="node-card-container"
      *ngFor="let node of (cardsDisposalControl == 'nodos' ? getNodes() : getUnitsByLocation())"></app-node-item>
  </div>

  <button disabled=true mat-stroke-button (click)="openProfileSheet()">rrr</button>
</div>
