
$brand: #38d39f;
$light-grey: #f6f6f6;
$dark-grey: #545555;

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.navbar {
  height: 100%;
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  flex: 1;
}

.navbar.fullscreen {
  top: 0;
}
