<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
  {{ count() }}
    <div *ngFor="let device of getDevices()"fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)">
      <mat-card>
        <mat-card-header>
        {{device.name}}
        </mat-card-header>
        <mat-card-subtitle>
          {{device.description}}
        </mat-card-subtitle>
        <mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary">Like</button>
            <button mat-raised-button color="accent">Share</button>
            <button mat-raised-button color="warn">Subscribe</button>
            </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </div>
</div>
