
<div class="card-container flippable" [ngClass]="{plottable: unitData.type=='SENSOR'}"  [@flipCard]="flip">
    <mat-card class="unit-card front">
      <mat-card-title>
          <app-unit-icon class="unit-icon" (click)="toggleFlip()"
          [intensity]="iconIntensity"
          [maxColor]="iconMaxColor"
          [minColor]="iconMinColor"
          [unitType]="unitData.type">
          </app-unit-icon>
      </mat-card-title>
      <mat-card-subtitle class="unit-name">
        <app-editable-text
        [text]="unitData.name"></app-editable-text>
      </mat-card-subtitle>
      <!--
      <div class="flip-button"
        mat-icon-button
        [matMenuTriggerFor]="options">
        <i class="flip-icon fas fa-ellipsis-v"></i>
      </div>
      <mat-menu #options>
        <div>
          <i class="flip-icon far fa-eye"></i>
        </div>
        <div (click)="toggleEdit()">
          <i class="edit-icon fas fa-edit"></i>
        </div>
      </mat-menu>
      -->
    </mat-card>
    <mat-card class='unit-card back' (click)="toggleFlip()">
       <!--
      <app-l-sensor-chart [legendVisible]=false [unitData]="[unitData]" ></app-l-sensor-chart>

      <mat-slider class="pop-up-slider" color=primary>
      </mat-slider>
    -->
    </mat-card>

</div>
