.spinner {
  margin: auto;
  max-width: 100px;
  min-width: 50px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-radius: 50%;
  animation: spinner 2s ease infinite;
}

.spinner::before {
  content: url(../../../assets/symbol.svg);
}

@keyframes spinner{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner-img2{
  from {
    opacity: 0;
    top:-20%;
  }
  to {
    opacity: 1;
    top:20%;
  }
}

