
<mat-form-field class="graph-forms-container">
  <mat-label>Unidades a graficar</mat-label>
  <mat-select [formControl]="unitControl" #unitSelect multiple>

    <mat-select-trigger>
      <mat-chip-list [selectable]="false">
        <mat-chip
            *ngFor="let unit of unitControl.value"
            [ngClass]="{'room-chip': unit.id==2, 'kitchen-chip': unit.id==1}"
            selectable=false
            selected=false
            [removable]=true
            (removed)="onRemoveUnit(unit)">
            {{unit}}
            <mat-icon matChipRemove >cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </mat-select-trigger>

    <mat-optgroup *ngFor="let device of devices" [label]="device.name">
      <mat-option *ngFor="let unit of device.units" #unitOptions
      [value]="unit.name">
      {{unit.name}}
      </mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>

<form>
  <mat-form-field class="time-field">
    <mat-label>H</mat-label>
    <input matInput type="number">
    <span matSuffix> : </span>
  </mat-form-field>
  <mat-form-field class="time-field">
    <mat-label>M</mat-label>
    <input matInput type="number">
    <span matSuffix> : </span>
  </mat-form-field>
  <mat-form-field class="time-field">
    <mat-label>S</mat-label>
    <input matInput type="number">
  </mat-form-field>
  <mat-form-field class="time-field">
    <mat-label>MS</mat-label>
    <input matInput type="number">
  </mat-form-field>
</form>

<mat-form-field>
  <mat-label>Tiempo de intervalo</mat-label>
  <app-input-time matInput type="number" [formControl]="timeControl"></app-input-time>
  <mat-error *ngIf="timeControl.invalid">Formato: [HH:MM:SS:]MS</mat-error>
</mat-form-field>
