@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-blue);
$app-accent:  mat-palette($mat-orange);
$app-warn:    mat-palette($mat-red);
$app-success: mat-palette($mat-light-green);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

$primary: map-get($app-theme, primary);
$accent: map-get($app-theme, accent);


.graph-forms-container {
  padding: 10px;
  display: inline;

  button {
    float: right;
    vertical-align: middle;
  }

}

mat-form-field + mat-form-field {
  margin-left: 20px;
}

.units-selector-field {
  width: 30%;
  min-width: 200px;
}

.time-field {
  width: 160px;
}

.nvalues-field {
  width: 100px;
}

.room-chip {
  background-color: red;
}

.kitchen-chip {
  background-color: aqua;
}

::ng-deep  .mat-form-field-label .interval-time-label {
    display: none;
 }
