.graph-forms-container {
  padding: 10px;
  display: inline;

  button {
    margin-left: 20px;
    vertical-align: middle;
  }
}

mat-form-field + mat-form-field {
  margin-left: 20px;
}

.units-selector-field {
  width: 30%;
  min-width: 200px;
}

.time-field {
  width: 160px;
}

.nvalues-field {
  width: 50px;
}

.chip {
  background-color: rgb(204, 10, 10) !important;
}

.kitchen-chip {
  background-color: aqua;
}

::ng-deep  .mat-form-field-label .interval-time-label {
    display: none;
 }
